*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
/* nav */
nav{
  display: flex;
  background: #d4e9fe;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}
.navlinks{
  display: flex;
  gap: 90px;
  cursor: pointer;
}
.bar{
  display: none;
  cursor: pointer;
}
.unhide{
  display: block;
}
.hide{
  display: none;
}
.navlink_mob{
  background: #d4e9fe;
  padding: 20px 30px;
}




@media (max-width:820px) {
  .navlinks{
    gap: 30px;
  }
}
@media (max-width:500px) {
  .navlinks{
    display: none;
  }
  .bar{
    display: block;
  }
}